.choiceContainer{
  height: 4vw;
  border-bottom-style: inset;
  border-width: .1vw;
  margin-bottom: -2vw;

}

.choiceContainer:hover{
  background: white
}

.pub{
  position: relative;
  top: 1vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px){

  .pub{
    font-size: 1.5vw;

  }

}
