.entryContainer{
  background: white;
  height: auto;
  width: 60vw;
  margin-bottom: 4vw;
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;



}

.entries{
  height: 82%;
  overflow: scroll;
  position: relative;

}

.thumbnail{
  max-height: 22vw;
  max-width: 53vw;


}

.link{
  position: relative;
  bottom: 1vw;

}

@media only screen and (max-width: 900px){

  .thumbnail {
      max-height: 14vw;
      max-width: 26vw;
  }

  .link{
    font-size: 1.5vw;

  }
}
